*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Lexend Deca"; }

.box {
  background-color: #090b1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  @media only screen and (max-width: 62.4375em) {
    .box {
      padding: 2rem; } }

.card {
  background-color: #1b1938;
  display: flex;
  width: 100rem;
  border-radius: 10px;
  height: 44rem; }
  @media only screen and (max-width: 62.4375em) {
    .card {
      flex-direction: column-reverse;
      align-content: center;
      width: fit-content;
      height: 90vh;
      flex-wrap: nowrap; } }
  .card-bot {
    display: flex;
    gap: 4rem; }
    @media only screen and (max-width: 62.4375em) {
      .card-bot {
        flex-direction: column; } }
  .card__side-1 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 62.4375em) {
      .card__side-1 {
        justify-content: center;
        gap: 2rem; } }
  .card__side-h1 {
    color: #fff;
    font-size: 35px;
    font-family: "Inter";
    font-weight: 700; }
    @media only screen and (max-width: 62.4375em) {
      .card__side-h1 {
        text-align: center; } }
    .card__side-h1-2 {
      color: #aa5cdb; }
  .card__side-text {
    display: flex;
    margin-bottom: 4rem;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75); }
    @media only screen and (max-width: 62.4375em) {
      .card__side-text {
        margin-bottom: 0rem;
        height: 10rem;
        font-size: 16px;
        align-items: center;
        text-align: center;
        line-height: 1.7; } }
    .card__side-text-1 {
      margin-right: 3.9rem;
      display: flex;
      flex-direction: column;
      color: rgba(255, 255, 255, 0.6); }
      @media only screen and (max-width: 62.4375em) {
        .card__side-text-1 {
          margin-right: 0; } }
      .card__side-text-1-2 {
        font-weight: 400;
        font-size: 28px;
        color: #ffffff; }
  .card__side-2 {
    width: 100%;
    height: 100%; }
  .card__img {
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(rgba(121, 7, 192, 0.5), rgba(95, 11, 147, 0.5)), url(../images/image-header-desktop.jpg);
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 62.4375em) {
      .card__img {
        border-radius: 10px 10px 0px 0px;
        background-image: linear-gradient(rgba(121, 7, 192, 0.5), rgba(95, 11, 147, 0.5)), url(../images/image-header-mobile.jpg);
        background-size: cover; } }
