$bp-large: 62.4375em;
/////sizes init

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //=10px root
  font-family: "Lexend Deca";
}

.box {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media only screen and (max-width: $bp-large) {
    padding: 2rem;
  }
}
//////////////////////////////////
/// card main part
.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
 
  width: 100rem;
  border-radius: 10px;
  height: 44rem;
  @media only screen and (max-width: $bp-large) {
    flex-direction: column-reverse;
    align-content: center;
    width: fit-content;
    height: 90vh;
    flex-wrap: nowrap;
  }

  &-bot {
    display: flex;
    gap: 4rem;
    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }
  }

  &__side {
    &-1 {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 4rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      @media only screen and (max-width: $bp-large) {
        justify-content: center;
        gap: 2rem;
      }
    }

    &-h1 {
      color: #fff;
      font-size: 35px;
      font-family: "Inter";
      font-weight: 700;
      @media only screen and (max-width: $bp-large) {
        text-align: center;
      }
      &-2 {
        color: hsl(277, 64%, 61%);
      }
    }
    &-text {
      display: flex;
      margin-bottom: 4rem;
      font-size: 18px;
      color: hsla(0, 0%, 100%, 0.75);
      @media only screen and (max-width: $bp-large) {
        margin-bottom: 0rem;
        height: 10rem;
        font-size: 16px;
        align-items: center;
        text-align: center;
        line-height: 1.7;
      }

      &-1 {
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        color: hsla(0, 0%, 100%, 0.6);
        @media only screen and (max-width: $bp-large) {
          margin-right: 0;
        }

        &-2 {
          font-weight: 400;
          font-size: 28px;
          color: #ffffff;
        }
      }
    }
  }

  &__side-2 {
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $bp-large) {
    }
  }
  &__img {
    @media only screen and (max-width: $bp-large) {
      border-radius: 10px 10px 0px 0px;
      background-image: linear-gradient(
          hsla(277, 93%, 39%, 0.5),
          hsla(277, 86%, 31%, 0.5)
        ),
        url(../images/image-header-mobile.jpg);
      background-size: cover;
    }

    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(
        hsla(277, 93%, 39%, 0.5),
        hsla(277, 86%, 31%, 0.5)
      ),
      url(../images/image-header-desktop.jpg);
    width: 100%;
    height: 100%;
  }
}

